[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "GoMiner"]
	path = GoMiner
	url = https://github.com/cran/GoMiner
[submodule "HTGM"]
	path = HTGM
	url = https://github.com/cran/HTGM
[submodule "HTGM2D"]
	path = HTGM2D
	url = https://github.com/cran/HTGM2D
[submodule "HTGM3D"]
	path = HTGM3D
	url = https://github.com/cran/HTGM3D
[submodule "NoviceDeveloperResources"]
	path = NoviceDeveloperResources
	url = https://github.com/cran/NoviceDeveloperResources
[submodule "NoviceDeveloperResources2"]
	path = NoviceDeveloperResources2
	url = https://github.com/cran/NoviceDeveloperResources2
[submodule "SherlockHolmes"]
	path = SherlockHolmes
	url = https://github.com/cran/SherlockHolmes
[submodule "clickableImageMap"]
	path = clickableImageMap
	url = https://github.com/cran/clickableImageMap
[submodule "conditionalProbNspades"]
	path = conditionalProbNspades
	url = https://github.com/cran/conditionalProbNspades
[submodule "evenBreak"]
	path = evenBreak
	url = https://github.com/cran/evenBreak
[submodule "foodwebWrapper"]
	path = foodwebWrapper
	url = https://github.com/cran/foodwebWrapper
[submodule "minimalistGODB"]
	path = minimalistGODB
	url = https://github.com/cran/minimalistGODB
[submodule "myCRAN"]
	path = myCRAN
	url = https://github.com/cran/myCRAN
[submodule "randomGODB"]
	path = randomGODB
	url = https://github.com/cran/randomGODB
[submodule "runExamplesWrapper"]
	path = runExamplesWrapper
	url = https://github.com/cran/runExamplesWrapper
[submodule "textBoxPlacement"]
	path = textBoxPlacement
	url = https://github.com/cran/textBoxPlacement
[submodule "timeLineGraphics"]
	path = timeLineGraphics
	url = https://github.com/cran/timeLineGraphics
[submodule "vprint"]
	path = vprint
	url = https://github.com/cran/vprint
