[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "NoviceDeveloperResources"]
	path = NoviceDeveloperResources
	url = https://github.com/cran/NoviceDeveloperResources
[submodule "SherlockHolmes"]
	path = SherlockHolmes
	url = https://github.com/cran/SherlockHolmes
[submodule "foodwebWrapper"]
	path = foodwebWrapper
	url = https://github.com/cran/foodwebWrapper
[submodule "myCRAN"]
	path = myCRAN
	url = https://github.com/cran/myCRAN
[submodule "textBoxPlacement"]
	path = textBoxPlacement
	url = https://github.com/cran/textBoxPlacement
[submodule "timeLineGraphics"]
	path = timeLineGraphics
	url = https://github.com/cran/timeLineGraphics
